.ranking {
  border: 3px solid black;
  width: 40%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 100px;
  padding: 10px;
}

.rank0 {
  background: linear-gradient(90deg, black 60%, goldenrod 100%); 
}

.rank1 {
  background: linear-gradient(90deg, black 60%,  silver 100%); 
}

.rank2 {
  background: linear-gradient(90deg, black 60%, rgb(248, 135, 6) 100%); 
}
